<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>제목입니다.</h1>
    <p>이명규님 환영합니다. 여기가 메인페이지예요. </p>
  </body>
</html>
