<html>
    <head>
        <title>JWT 토큰생성 form 페이지</title>
    </head>

    <body>
        <h2>사용자 정보 JWT 토큰 생성 form 페이지</h2>
        
        <form action="/token" method="post">
            로그인 사용자 아이디: <input type="text" name="email" /><br/>
            로그인 사용자 이름: <input type="text" name="name" /><br/>
            전화번호: <input type="text" name="telephone" /><br/>
            사용자유형: <input type="text" name="usertype", value='U' /><br/>
            <input type="submit" value="토큰생성하기" /><br/>

        </form>
        
        
        
    </body>
</html>